<div class="d-flex">
  <!--- SideBar --->
  <div class="bg-dark border-end p-3" id="sidebar">
    <h3 class="text-light">
      Gifs App
    </h3>
    <hr class="text-light">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
    </div>
  </div>
<!--- End SideBar --->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        sdf sd fasf roi jdsf ksd  rkgjs sd ogiw jñsdf klmgas ña oñawtk msdjgfi asdf dasf ar asdg rwa ag a tw4rt awrg sdg sdgfa tsdh dsfh sdfg dfshdfs ghdfsg
      </div>
    </div>
  </div>
</div>
